@media only screen and (min-width: 0) {
  .module-call-out {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0; } }

@media only screen and (min-width: 768px) {
  .module-call-out {
    grid-template-columns: repeat(4, 1fr); } }

.module-call-out .call-out {
  min-height: 350px;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center; }
  .module-call-out .call-out img {
    max-width: 50px;
    align-self: center; }
  .module-call-out .call-out a.call-out-link {
    background: #fff;
    max-width: 200px;
    color: #000 !important;
    padding: 0.5em 2em;
    align-self: center;
    justify-self: flex-end;
    margin-top: auto; }

@media only screen and (min-width: 0) {
  .module-content {
    padding: 2em 20px; } }

@media only screen and (min-width: 768px) {
  .module-content {
    padding: 3em 0; } }

@media only screen and (min-width: 0) {
  .module-call-to-action .inner-content {
    display: flex;
    flex-direction: column;
    padding: 2em 20px; } }

@media only screen and (min-width: 768px) {
  .module-call-to-action .inner-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0; } }

.module-call-to-action .inner-content .cta-content .cta-heading {
  font-size: 40px;
  flex: 3;
  max-width: 750px; }

@media only screen and (min-width: 0) {
  .module-call-to-action .inner-content .cta-button-content a.cta {
    font-size: 20px;
    padding: 1em !important;
    border-radius: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    order: 1;
    align-items: center;
    min-width: 75px;
    max-width: 300px; } }

@media screen and (max-width: 1024px) {
  .module-media-text {
    height: inherit !important; } }

@media only screen and (min-width: 0) {
  .media-content {
    padding: 1.5em 20px;
    display: flex;
    flex-direction: column; } }

@media only screen and (min-width: 768px) {
  .media-content {
    flex-direction: row;
    padding: 2em 0; } }

.media-content img {
  order: 1;
  align-self: center;
  padding: 10px; }

.media-content .module-content {
  align-self: center;
  padding: 10px; }
  @media only screen and (min-width: 0) {
    .media-content .module-content p {
      order: 2 !important;
      padding: 0; } }
  .media-content .module-content .mlp-button-link {
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    padding: 0.75em 1.5em; }
    .media-content .module-content .mlp-button-link:hover {
      text-decoration: none;
      background-color: #633576 !important; }

@media only screen and (min-width: 0) {
  .module-recent-posts {
    padding: 2em 20px; } }

@media only screen and (min-width: 768px) {
  .module-recent-posts {
    padding: 3em 0; } }

@media only screen and (min-width: 0) {
  .module-recent-posts .post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; } }

@media only screen and (min-width: 768px) {
  .module-recent-posts .post-grid {
    grid-template-columns: repeat(4, 1fr); } }

.module-recent-posts .post-grid .recent-post h3 {
  font-weight: 700;
  font-size: 22px;
  padding-top: 10px !important; }

@media screen and (max-width: 1024px) {
  .page-template-landing-pages .site-header .__top-header {
    padding: 0; } }

.page-template-landing-pages #primary {
  margin: 0;
  padding: 0; }

.page-template-landing-pages .inner-content {
  margin: auto;
  width: 1100px;
  max-width: 100%; }

.page-template-landing-pages section {
  max-width: 100%;
  width: 100%; }

/*# sourceMappingURL=mlp.css.map */